<%- include('../partials/header.ejs') %>

<main>
  <nav id="login">
    <div class="card">
      <% if (errorMessage) { %>
      <div class="user_message user_message_error"><%= errorMessage %></div>
      <% } %>
      <h1 class="my-2" style="color: #005c2f">Forgot password</h1>
      <hr />

      Forgot your password, enter your account email so we can help you.
      
      <form action="/forgot_password" method="POST">
        <div class="my-3">
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Email"
            style="border: 2px solid #22be76"
          />
        </div>

        <button type="submit" class="btn btn-outline-success w-100">
          Reset
        </button>
        <a href="/login" class="btn btn-outline-secondary w-100">Back</a>
      </form>
    </div>
  </nav>
</main>

<%- include('../partials/footer.ejs') %>
