<%- include('../partials/header.ejs') %>

<main>
  <nav id="login">
    <div class="card">

        Please refer to the email you provided to complete this process
        <br>
        Mail might be sent to the SPAM folder of the email
        <br>
        Thank you 
        <hr>
        <a href="/login" class="btn btn-outline-success w-100">Back</a>
    </div>
  </nav>
</main>

<%- include('../partials/footer.ejs') %>
