
    <footer id="footer">
        <div class="container">
            <p>Reboot 2020 &copy; All Right Reseverd</p>
        </div>
    </footer>

    <script src="js/bootstrap.min.js"></script>
</body>
</html>