
    <footer id="footer" class="mt-auto">
        <div class=" d-flex justify-content-around align-items-center">
            <p>TOPAPP 2021 &copy; All Right Reseverd</p>
                <a class="<%= path === 'contact' ? 'active' : '' %>" href="/contactUs">Contact us</a>
        </div>
    </footer>

    <script src="js/bootstrap.min.js"></script>
    <script class="u-script" type="text/javascript" src="js/jquery-1.9.1.min.js" ></script>
    <script class="u-script" type="text/javascript" src="js/nicepage.js" ></script>
</body>
</html>