
    <footer id="footer" class="mt-auto">
        <div class="container">
            <p>PV* 2021 &copy; All Right Reseverd</p>
        </div>
    </footer>

    <script src="js/bootstrap.min.js"></script>
    <script class="u-script" type="text/javascript" src="js/jquery-1.9.1.min.js" ></script>
    <script class="u-script" type="text/javascript" src="js/nicepage.js" ></script>
</body>
</html>